@import "tailwindcss";
@import "tw-animate-css";
@import "../configs/theme/light.css";
@import "../configs/theme/dark.css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--text-primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--border-light);
  --color-sidebar-border: var(--border-medium);
  --color-sidebar-accent-foreground: var(--text-primary);
  --color-sidebar-accent: var(--accent-500);
  --color-sidebar-primary-foreground: var(--text-primary);
  --color-sidebar-primary: var(--primary-500);
  --color-sidebar-foreground: var(--text-primary);
  --color-sidebar: var(--background-alt);
  --color-chart-5: var(--accent-500);
  --color-chart-4: var(--success-500);
  --color-chart-3: var(--warning-500);
  --color-chart-2: var(--error-500);
  --color-chart-1: var(--primary-500);
  --color-ring: var(--border-medium);
  --color-input: var(--background-alt);
  --color-border: var(--border-medium);
  --color-destructive: var(--error-500);
  --color-accent-foreground: var(--text-primary);
  --color-accent: var(--accent-500);
  --color-muted-foreground: var(--text-tertiary);
  --color-muted: var(--background-alt);
  --color-secondary-foreground: var(--text-primary);
  --color-secondary: var(--neutral-200);
  --color-primary-foreground: var(--text-primary);
  --color-primary: var(--primary-500);
  --color-popover-foreground: var(--text-primary);
  --color-popover: var(--background-alt);
  --color-card-foreground: var(--text-primary);
  --color-card: var(--background-alt);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
}

.dark {
  --background: var(--background);
  --foreground: var(--text-primary);
  --card: var(--background-alt);
  --card-foreground: var(--text-primary);
  --popover: var(--background-alt);
  --popover-foreground: var(--text-primary);
  --primary: var(--primary-500);
  --primary-foreground: var(--text-primary);
  --secondary: var(--neutral-200);
  --secondary-foreground: var(--text-primary);
  --muted: var(--background-alt);
  --muted-foreground: var(--text-tertiary);
  --accent: var(--accent-500);
  --accent-foreground: var(--text-primary);
  --destructive: var(--error-500);
  --border: var(--border-medium);
  --input: var(--background-alt);
  --ring: var(--border-medium);
  --chart-1: var(--primary-500);
  --chart-2: var(--error-500);
  --chart-3: var(--warning-500);
  --chart-4: var(--success-500);
  --chart-5: var(--accent-500);
  --sidebar: var(--background-alt);
  --sidebar-foreground: var(--text-primary);
  --sidebar-primary: var(--primary-500);
  --sidebar-primary-foreground: var(--text-primary);
  --sidebar-accent: var(--accent-500);
  --sidebar-accent-foreground: var(--text-primary);
  --sidebar-border: var(--border-medium);
  --sidebar-ring: var(--border-light);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
